<!-- @for (item of items; track item) { -->
<div class="skeleton-card">
    <div class="skeleton-header">
        <div class="skeleton-title animated-skeleton"></div>
        <div class="skeleton-badge animated-skeleton"></div>
    </div>

    <div class="skeleton-badges d-flex flex-wrap gap-2">
        <div class="skeleton-badge-sm animated-skeleton"></div>
        <div class="skeleton-badge-sm animated-skeleton"></div>
        <div class="skeleton-badge-sm animated-skeleton"></div>
    </div>

    <div class="skeleton-content">
        <div class="skeleton-text animated-skeleton"></div>
        <div class="skeleton-text animated-skeleton"></div>
        <div class="skeleton-text-short animated-skeleton"></div>
    </div>

    <div class="skeleton-badges d-flex flex-wrap gap-2">
        <div class="skeleton-badge-sm animated-skeleton"></div>
        <div class="skeleton-badge-sm animated-skeleton"></div>
        <div class="skeleton-badge-sm animated-skeleton"></div>
        <div class="skeleton-badge-sm animated-skeleton"></div>
    </div>

    <div class="skeleton-footer d-flex gap-2">
        <div class="skeleton-button animated-skeleton"></div>
        <div class="skeleton-button animated-skeleton"></div>
        <div class="skeleton-button animated-skeleton"></div>
    </div>
</div>
<!-- } -->
